.sh-button {
  display: inline-block;
  border-radius: 0px;
  border: thin solid transparent;
  font-size: 16px;
  font-weight: $font-weight-normal;
  transition: all 0.3s;
  text-decoration: none;
  line-height: 1;
  @include padding(12px 16px);
  &:hover {
    text-decoration: none;
    transform: translateY(-2px);
  }
}

.sh-button--primary {
  background-color: $sh-color--black;
  color: $sh-color--white;

  &:hover {
    color: $sh-color--white;
  }
}

.sh-button--secondary {
  background-color: $sh-color--grey;
  color: $sh-color--black;

  &:hover {
    color: $sh-color--black;
  }
}

.sh-button--border {
  background-color: $sh-color--white;
  color: $sh-color--black;
  border: 2px solid $sh-color--black;

  &:hover {
    color: $sh-color--black;
  }
}

.sh-link {
  display: inline-block;
  color: $sh-color--black;
  text-decoration: none;
  transition: all 0.3s;
  &:hover {
    color: $sh-color--black;
    text-decoration: none;
    transform: translateY(-2px);
  }
}

.sh--badge {
  background-color: $sh-color--light-blue;
  color: $sh-color--white;
  border-radius: $border-radius-sm;
  white-space: nowrap;
  @include padding(4px 16px);
}