@charset 'UTF-8';

@import "variables";

// Vendors
@import 'vendor/normalize';

//Mixins
@import "mixins/directional-property";
@import "mixins/compact-shorthand";
@import "mixins/contains-falsy";
@import "mixins/margin";
@import "mixins/padding";
@import "mixins/media_query";
@import "mixins/flex";

@import "typography";

@import 'base/buttons';
@import 'base/forms';

@import 'components/carousel';
@import 'components/cards';
@import 'components/cta';

@import "navigation";
@import "utilities";

//Page-specific styles
@import 'pages/home';

@import "footer";

body {
  font-family: $base-font-family;

  animation: fadeIn 0.3s both;

  *:focus {
    outline: none;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@media (max-width: 768px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 95%;
  }
}


@media (min-width: 992px) and (max-width: 1440px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 95%;
  }
}

@media (min-width: 1440px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1280px;
  }
}